.tx-card {
    margin-top: 24px;
    padding-top: 20px;
}

.tx-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 12px
}

.tx-header h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700
}

.tx-header p {
    margin: 4px 0 0;
    color: var(--muted);
    font-size: 13px
}

.ghost {
    background: #f4f4f6;
    border: none;
    padding: 10px 14px;
    border-radius: 26px;
    margin-left: 8px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.tx-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tx-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-top: 1px solid #f3f3f3;
}

.tx-left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.tx-mark-deposit {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #E9FBF0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #0fbd60
}

.tx-mark-withdrawal {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #F9E3E0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #961100;
}

.tx-title {
    font-weight: 600;
    font-size: 14px
}

.tx-sub {
    font-size: 12px;
    color: var(--muted)
}

.tx-right {
    text-align: right
}

.tx-amt {
    font-weight: 700
}

.tx-date {
    font-size: 12px;
    color: var(--muted)
}

@media (max-width: 920px) {
    .tx-header{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .tx-actions{
        align-self: flex-end;
    }
}