.app-bar {
    border-radius: 100px;
    background: #fff;
    box-shadow:
        0px 6px 12px 0px rgba(92, 115, 131, 0.08),
        0px 4px 8px 0px rgba(92, 115, 131, 0.08);
    display: inline-flex;
    padding: 4px;
    align-items: flex-start;
    gap: 4px;
    flex-direction: column;
}

.app-bar-icon {
    border-radius: 100px;
    mix-blend-mode: luminosity;
}

.app-bar-icon:hover {
    mix-blend-mode: normal;
    background: var(--gray-gray-50, #eff1f6);
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: calc(100% + 8px);
    transform: translateY(-50%);
    background-color: #0f1724;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 10;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #0f1724 transparent transparent;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}