.filter-panel {
    color: #131316;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.close-btn {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}

.quick-buttons {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
    overflow-x: scroll;
}

.quick-btn {
    padding: 10px 16px;
    border-radius: 100px;
    border: 1px solid #eff1f6;
    background: #fff;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 120px;
}

.quick-btn.active,
.quick-btn:hover {
    background: #131316;
    color: #fff;
    border-color: #131316;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.filter-group label {
    font-weight: 600;
    font-size: 16px;
}

.date-range {
    display: flex;
    gap: 12px;
}

.date-range select,
.select-field,
.date-input {
    flex: 1;
    background: #eff1f6;
    border: 3px solid #eff1f6;
    border-radius: 12px;
    height: 48px;
    padding: 0 16px;
    font-weight: 500;
    font-size: 14px;
    color: #131316;
    appearance: none;
}

.date-range select:focus,
.select-field:focus {
    outline: 3px solid #131316;
}

.select-field {
    padding: 12px 16px;
}

.action-btns-container{
    display: flex;
    width: 100%;
    gap: 12px;
}

.custom-select-field{
    background-color: red;
    background: #eff1f6;
    border-radius: 12px;
    padding: 8px 16px;
}

.searchWrapper{
    border: none !important;
    border-radius: 12px;
}

.chip{
    background-color: transparent !important;
    color: #131316 !important;
    margin-right: 0 !important;
    padding-right: 5px !important;
    padding-left: 0 !important;
}
.closeIcon{
    display: none;
}