.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 4px 0px #2D3B430D, 
    0px 2px 6px 0px #2D3B430F;
    border-radius: 100px;

}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 22px;
}

.hamburger {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.mark {
    width: 46px;
    height: 46px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-weight: 700;
}

.navlinks a {
    margin: 0 10px;
    color: var(--muted);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.navlinks a.active {
    background: #0f1724;
    color: #fff;
    padding: 8px 14px;
    border-radius: 22px;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.icon {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.profile-container{
    background-color: #EFF1F6;
    border-radius: 100px;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background: linear-gradient(138.98deg, #5C6670 2.33%, #131316 96.28%);
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    right: 30px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    z-index: 1;
    animation: slideIn 0.2s ease-out;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .topbar {
      flex-wrap: wrap;
      border-radius: 16px;
      padding: 12px 20px;
    }
  
    .hamburger {
      display: block;
      font-size: 24px;
    }
  
    .navlinks {
      flex-direction: column;
      width: 93%;
      position: absolute;
      top: 70px;
      left: 0;
      background: white;
      border-radius: 12px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
      padding: 10px 0;
      display: none;
      z-index: 1;
    }
  
    .navlinks.open {
      display: flex;
    }
  
    .navlinks a {
      padding: 10px 18px;
      justify-content: flex-start;
      width: 100%;
    }

    .navlinks a.active {
        width: 100px;
    }
  
    .topbar-right {
      gap: 10px;
    }
  }
  
  @media (max-width: 500px) {
    .profile-container {
      padding: 4px 8px;
    }
  
    .profile {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
  
    .logo {
      height: 28px;
    }
  
    .topbar {
      padding: 10px 14px;
    }
}