:root {
  --bg: #f5eefe;
  --page: #FAFAFA;
  --card-bg: #ffffff;
  --muted: #8f95a3;
  --accent: #ff6f2f;
  --accent-2: #C7A800;
  --soft-shadow: 0 6px 18px rgba(15, 17, 26, 0.06);
  --rounded: 14px;
  --maxwidth: 1200px;
  --text: #202020;
  --small: 13px;
  --base: 16px;
}

* {
  box-sizing: border-box
}

html,
body,
#root {
  height: 100%
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  font-size: var(--base);
}

.app-shell {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  border-radius: 18px;
  padding: 28px 32px;
  display: flex;
  gap: 28px;
  align-items: flex-start;
  margin-top: 120px;
}

.primary-btn {
  border-radius: 100px;
  padding: 12px 24px;
  background-color: #131316;
  color: #FFF;
  width: 100%;
  cursor: pointer;
}

.secondary-btn {
  border: 1px solid #EFF1F6;
  border-radius: 100px;
  padding: 12px 24px;
  color: #131316;
  width: 100%;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.app-bar-container {
  position: fixed;
  top: 50%;
  transform: translate(20%, -30%);
  border-radius: 8px;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

@media (max-width: 920px) {
  .container {
    padding: 20px;
    flex-direction: column;
  }
}